<!doctype html>
<html lang="en">

<head>
<style>
  h1 {
color:blue;

}

strong {
  color:red
}

body {
  background-color:pink
}



  </style>
	<meta charset="utf-8" />
	<title>Form</title>
</head>


<body>
	<h1>Make Your Own QR Code!</h1>

	<form action="/result" method="post">
        <fieldset>
         
          
          <strong>Name: </strong><input type="text" id="name" name="name" required>
           
          <strong>Email Address: </strong><input type="email" id="email" name="email" required>
          <br><br>
    
          <strong>URL: </strong> <input type="text" id="url" name="url" required>
        <br><br>
       
        
        <input type="reset" value="Reset">
        <input type="submit" value="Submit">
      </form>
      <hr>
	
</body>

</html>
